* {
  font-family: 'roboto', 'arial';
}



.js-input {
  font-size: 18px;
  padding: 10px;
  border: 1px solid rgb(6, 15, 1);
  border-radius: 5px;
  width: 100%;
  max-width: 21vw;
}

.date-box {
  padding: 10px;
  border: 1px solid rgb(4, 102, 102);
  border-radius: 5px;
  width: 100%;
  max-width: 18vw;
  font-size: 17px;
}

.add-btn {
  /* height: 42px; */
  width: 60px; 
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  color: rgb(250, 250, 250);
  background-color: #2C5EAD;
  border: none;
  border-radius: 4px;
  transition: all 0.30s;
}

.add-btn:hover {
  background-color: #4274c4;
}
.add-btn:active {
  background-color: #265eb8;
}

.delete-todo-btn {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(250, 250, 250);
  background-color: #0f203d;
  border: none;
  border-radius: 5px;
  transition: all 0.30s;
  height: 32px;
  width: 60px;
}

.js-delete-btn:hover {
  background-color: #31363f;
}

.todo-grid,.todo-input-container {
  display: grid;
  grid-template-columns: repeat(2,250px) 100px;
  align-items: center;
  row-gap: 10px;
  padding: 10px;
  margin-top: 2vw;
  /* background-color: #C4E2F5; */
  color: #0d7bc0;
  border-radius: 10px;
}

.todo-input-container{
  align-items: stretch;
}
