body{
  height: 5000px;
}

.anine,
.bnine {
  color: rgb(4, 47, 85);
  background-color: blanchedalmond;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  padding: 7.5px 15px;
  font-size: 18px;
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
  height: 300px;
  display: block;
  margin-bottom: 20px;
}

.tails-btn,
.head-btn {
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
