body.sidebar-open {
  padding-left: 70px;
  padding-top: 120px;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 111px;
  background-color: white;
  width: 72px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar-link {
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.music-tab-link {
  text-decoration: none;
  color: #000;
}

.sidebar-link img {
  height: 25px;
  margin-bottom: 4px;
}

.sidebar-link a {
  font-size: 10px;
  font-weight: 500;
}

body.dark-theme .sidebar {
  background-color: #202020;
  border-color: #383838;
}

body.dark-theme .sidebar-container {
  color: #fff;
}

body.dark-theme .sidebar-link:hover,
body.dark-theme .sidebar-container.active {
  background-color: #383838;
  color: #fff;
}

.sidebar-container.active {
  background: #e5e5e5;
  color: #000;
  font-weight: 600;
  border-radius: 10px;
  height: 76px;
}

@media (min-width: 550px) {
  body {
    padding-left: 20px;
  }

  body.sidebar-open {
    padding-left: 250px;
  }

  .sidebar {
    width: 240px;
    padding: 12px;
    overflow: hidden;
  }

  .sidebar-link {
    height: 56px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
  }

  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-container {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    column-gap: 16px;
    padding: 0 16px;

  }

  .sidebar-link img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin: 0;
  }


  .sidebar-link a {
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    white-space: nowrap;
  }

  .sidebar-link:hover a {
    font-weight: 800;
  }

  .sidebar-items {
    display: block;
  }


}
